.job-card {
  background-color: #2c364c;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.job-company-logo {
  width: 50px;
  margin-right: 10px;
}

.job-title {
  font-size: 18px;
  margin: 10px 0;
}

.job-details {
  display: flex;
  justify-content: space-between;
  color: #cbd5e1;
}
